/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  body {
    font-family: 'Poppins', sans-serif;
  }


  /* Neon text effect */
  .neon-gradient {
    background: linear-gradient(to right, #ff0080, #ff8c00);
    -webkit-background-clip: text;
    color: transparent;
  }

  .neon-effect {
    text-shadow: 0 0 6px #ff0080, 0 0 10px #ff0080, 0 0 14px #ff8c00, 0 0 20px #ff8c00;
  }


  /* Neon button effect */
  .neon-button {
    background: linear-gradient(to right, #ff0080, #ff8c00);
    color: white;
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080;
  }

  .neon-button:hover {
    background: linear-gradient(to right, #ff8c00, #ff0080);
    text-shadow: 0 0 10px #ff0080, 0 0 20px #ff0080;
  }
}